---
import MainHead from '../components/MainHead.astro';
import Button from '../components/Button/index.jsx';
import Footer from '../components/Footer/index.jsx';
import Nav from '../components/Nav/index.jsx';

const { content } = Astro.props;
---
<html lang={ content.lang || 'en' }>
  <head>
    <MainHead title={content.title} />
    <style lang="scss">
    $w-s: 750px;
      .hero {
        padding: 8rem;
        display: flex;
        background-color: var(--t-fg);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 25vw;
        color: white;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .tag {
        padding: 0.2em 0.5em;
        + .tag {
          margin-left: 0.5em;
        }
        text-transform: uppercase;
        background-color: var(--c-grey);

      }

      .title {
        font-size: var(--f-u10);
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.0625em;
        @media (max-width: $w-s) {
          font-size: var(--f-u8);
        }
      }

      .leadIn {
        color: var(--t-bg);
        background-color: var(--t-fg);
      }

      .tagline {
        font-weight: 300;
        font-size: var(--f-u3);
        line-height: 1.5;
      }

      .content {
        font-size: var(--f-u1);
        line-height: 2.2;
      }
    </style>
  </head>
  <body class="wrapper">
    <Nav />
    <header style={`background-image:url(${content.img})`} class="hero">
      <h1 class="title">{content.title}</h1>
    </header>
    <div class="leadIn">
      <div class="wrapper pt8 pb8 mb8 tac">
        {content.tags.map((t) => (
          <span class="tag">{t}</span>
        ))}
        <h3 class="tagline">{content.description}</h3>
      </div>
    </div>
    <div class="wrapper__readable">
      <div class="content"><slot></slot></div>
    </div>
    <footer class="tac mt6">
      <a href="/projects">
        <Button>View More</Button>
      </a>
    </footer>
    <Footer />
  </body>
</html>
